

body{
    background-color: rgb(182, 192, 201);
} 

.bcontent{
    
    margin-bottom: 10px;
    margin-top: 30px;
}

.img{
    padding-top: 25px;
}

.logo{
    height: 50px;
    width: 150px;
    margin-right:15px ;
}

.navcolor{
    background-color: rgb(12, 11, 11);
}
.user{
    width: 30px;
    height: 30px;
    padding-top: 10px;
}

